ruby, rbc, rtc, rb, rt {
    line-height: 1.4em !important;
    margin: 0px !important;
    width: auto !important;
    height: auto !important;
    vertical-align: baseline !important;
    text-align: center !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    text-decoration: none !important;
    white-space: nowrap !important;
    border-style: none !important;
    overflow: visible !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
ruby, rbc, rtc, rb {
    right: auto !important;
}
ruby {
    position: relative !important;
    display: inline-block !important;
    white-space: nowrap !important;
    text-align: center !important;
    line-height: 1.4em !important;
    margin-top: .55em !important;
    text-indent: 0px;
    letter-spacing: 0px;
    padding: 0px;
}
rt, rt + rtc, rtc + rtc {
    font-size: .55em !important;
    position: absolute !important;
    transform: translateY(-1em) !important;
    line-height: 1em !important;
    letter-spacing: 0px;
    right: 0px;
}
rp {
    display: none !important;
}
rt + rtc, rtc + rtc {
    top: auto !important;
    bottom: -.55em !important;
    left: 0px !important;
    transform: none !important;
}
rt + rtc rt, rtc + rtc rt {
    font-size: 1em !important;
    top: auto !important;
    right: auto !important;
    position: static !important;
}
