ruby {
    position: relative !important;
    display: inline-block !important;
    white-space: nowrap !important;
    text-align: center !important;
    line-height: normal !important;
    margin-top: .55em !important;
}
rt, rt + rtc, rtc + rtc {
    font-size: .55em !important;
    position: absolute !important;
    transform: translateY(-1em) !important;
    line-height: 1em !important;
    letter-spacing: 0px;
    right: 0px;
}
rp {
    display: none !important;
}
rt + rtc, rtc + rtc {
    top: auto !important;
    bottom: -.55em !important;
    left: 0px !important;
    transform: none !important;
}
rt + rtc rt, rtc + rtc rt {
    font-size: 1em !important;
    top: auto !important;
    right: auto !important;
    position: static !important;
}
